@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: 1s ease ;
}

.whole-app {
  transition: background-color 1s ease all;
}

.empty-walls {
  transition: 1s ease all;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 1s ease, color 1s ease;
}

.home-h1 {
  color: rgba(59, 91, 206, 0.829);
}

.nav-container {

  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: background-color 1s ease, color 1s ease;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  transition: 1s ease all;
}

.nav-item:hover {
  transition: 0.5s ease all;

}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  background-color: rgba(59, 91, 206, 0.829);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: blue;
  transition: 0.3s ease all;
}

.home-button:active{
  box-shadow: inset 5px 5px 10px #000;
}

.input-container {
  border: 1px solid;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px #888;
}

.walls-container {
  padding: 20px;
  max-width: 100%;
  transition: background-color 1s ease;
}

.user-date {
  display: flex;
  gap: 6px;
  align-items: center;
}

.date {
  font-size: 11px;
  margin-bottom: 0;
}

.walls-user {
  text-decoration: underline;
  font-weight: bold;
}

.walls {
  transition: 1s ease;
}

.walls-actions {
  display: flex;
  gap: 20px;
  font-size: 12px;
  text-decoration: underline;
  color: rgba(59, 91, 206, 0.829);
}

.walls-comments {
  cursor: pointer;
}

.walls-reports {
  cursor: pointer;
}

.suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 1s ease, color 1s ease;
}

/* DarkMode - LightMode Section */

#darkHome {
  background-color: #181c1f;
  color: white;
}

.darkHome {
  background-color: #181c1f;
}

#lightHome {
  background-color: white;
}

#darkWalls {
  background-color: #181c1f;
  color: white;
  border-bottom: 1px solid white;
}

#lightWalls {
  background-color: white;
  border-bottom: 1px solid rgba(59, 91, 206, 0.829);
}

#darkNav {
  background-color: #181c1f;
  color: white;
  border-bottom: 1px solid white;
}

#lightNav {
  color: white;
  background-color: rgba(59, 91, 206, 0.829);
}

#darkModeToggle {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 80px;
  padding: 8px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  cursor: pointer;
  transition: .4s all ease;
}

#lightModeToggle {
  background-color: transparent;
  border: 1px solid #181c1f;
  border-radius: 80px;
  padding: 8px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #181c1f;
  cursor: pointer;
  transition: .4s all ease;
}

#darkModeToggle:hover {
  box-shadow: 0 0 20px 0 #fff;
}

#lightModeToggle:hover {
  box-shadow: 0 0 20px 0 #181c1f;
}

/* Button Rotation  */

@keyframes logo-sping {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .darkModeToggle {
    animation: logo-sping infinite 6s linear
  }
}

@media screen (max-width: 414px) {

}
